/* Variables */
.modal-delete {
  /* Background */
  --background-overlay: rgba(0, 0, 0, 0.77);
  --background-button-danger: #f85a49;
  --background-button-danger-active: #f1968d;
  
  /* Color text */
  --color-primary: #de212e;
  --color-secondary: #666;
  --color-primary-button: #454545;
  --color-secondary-button: #FAFAFA;

}

.modal-delete {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  
  background: var(--background-overlay);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: none;

}

.modal-delete.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-delete.open .container-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  background: var(--color-white);
  width: 40%;
  min-height: 250px;
  max-width: 450px;
  padding: 32px var(--spacing-large) var(--spacing-large);
  
  border-radius: var(--border-radius);
}

.modal-delete.open .wrapper {
  display: flex;
  flex-direction: column;
}

.modal-delete.open .wrapper h2 {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: var(--spacing-large);
}

.modal-delete.open .wrapper p {
  color: var(--color-secondary);
  font-size: var(--size-text-small-secondary);
}

.modal-delete.open .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-delete.open .actions a {
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
}

.modal-delete.open .actions button {
  background: var(--background-button-danger);
  color: var(--color-secondary-button);
  
  padding: var(--spacing-medium);
  margin-left: var(--spacing-small);
}

.modal-delete.open .actions button:active {
  background: var(--background-button-danger-active);
}
