:root {
  --color-white: #FFF;
  --primary: #2ebfa4;

  --size-text-small: 1.2rem;
  --size-text-small-secondary: 1.4rem;
  --size-text-medium: 1.6rem;
  --size-text-large: 1.8rem;

  --spacing-small: .8rem;
  --spacing-medium: 1.6rem;
  --spacing-large: 2.4rem;

  --border-radius: .8rem;
  --border-radius-secondary: .5rem;

  --box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.04);

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;

}

body {
  background: #ebe5e4;
  height: 100vh;
  font-size: var(--size-text-medium);
  font-family: 'Poppins', sans-serif;
}

button, input, textarea {
  font-family: 'Montserrat', sans-serif;
  border: none;

}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border-radius: var(--border-radius-secondary);
  font-size: var(--size-text-medium);
  font-weight: 700;
  color: #ececec;
  background: var(--primary);
  box-shadow: var(--box-shadow);
  transition: all .3s ease-out;
}

button:hover, button:focus {
  filter: brightness(.8);
  color: var(--color-white);
}

button:active {
  filter: brightness(.9);

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 4.8rem;
}

.form h1 {
  color: #4f8256;
  font-size: 3.5rem;
  margin-bottom: var(--spacing-large); 
  font-weight: 800;
  text-align: left;
  border-bottom: .5rem solid #4f8256;
  padding-bottom: 1rem;
  width: min-content;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-field {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: var(--color-white);
  border: .1rem solid var(--color-white);
  width: 38rem;
  margin-bottom: var(--spacing-medium);
  border-radius: var(--border-radius-secondary);
}

.wrapper-field label {
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: .6rem;
  line-height: 0;
  pointer-events: none;
  transition: all .3s ease-out;
  color: #bbb;
}

.wrapper-field input, .wrapper-field textarea {
  background: none;
  height: 5rem;
  width: 100%;
  padding: var(--spacing-large) .6rem .6rem;
  line-height: var(--spacing-large);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-secondary);
  transition: all .3s ease-out;
}

.wrapper-field textarea {
  resize: none;
  max-width: 100%;
  height: 11rem;
  position: relative;
}

.wrapper-field input::placeholder, .wrapper-field textarea::placeholder {
  color: transparent;
}

/* Label Focus */
.wrapper-field input:focus + label,
.wrapper-field textarea:focus + label,
.wrapper-field input:not(:placeholder-shown) + label,
.wrapper-field textarea:not(:placeholder-shown) + label {
  font-size: var(--size-text-small);
  top: var(--spacing-small);
  color: var(--primary);
  margin: var(--spacing-small) 0;
}

.wrapper-field:focus-within {
  border: .1rem solid var(--primary) !important;
}

.form button {
  width: 97%;
  height: 5rem;
}
